{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
        <div class="col-lg-8 col-offset-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4><i class="icon-ban-circle"></i> Oops, you don't have access to this.</h4>
                </div>
                If you have been given a link to this page, please contact the person who gave you the link.
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
