
.droptarget {
    padding: 100px 0px;
    margin: 20px;
    border: 5px dashed #ccc;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #888;
}

.droptarget.hover {
    background-color: #D1E9F5;
}

.droptarget p {
    cursor: default;
}

.progress {
    width: 80%;
    float: left;
    margin-right: 10px;
}

.url input {
    border: none;
    background-color: transparent;
    color: #15c;
    text-align: center;
    width: 100%;
}

#invite-generated .alert {
    width: 75%;
    margin: auto;
}

.error {
    color: red;
}

.center {
    margin: auto;
    text-align: center;
}

.light {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

input[type="file"] {
    display: none;
}
