{% extends 'base.jinja' %}

{% block header %}
<h1>Upload files</h1>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
        <div class="upload">
            <div class="droptarget">
                <p>Drop files here</p>
            </div>
            <p>Or <button class="button browse">Browse...</button></p>
        </div>

        <div id="progress" style="display: none;">
            <progress value="0" max="100"></progress>
            (<span class="percentage"></span>)
        </div>
    </div>
  </div>
</div>

{% endblock %}
